accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
git+https://github.com/Deathtanium/datasets.git
fire
git+https://github.com/huggingface/peft.git
transformers>=4.28.0
sentencepiece
gradio
